Data is unprocessed and unorganized observations that are not useful.
Information is organized and processed data tht is meaningful to users.
Database  is an organized collection of data structured in a certain way.
Types of databases:Relational,non relational
Primary key is a unique identifier in a table.
Foreign key is a primary key that is being referenced in another table from its main table.
Relational databases use structured query language.

Database management system-postgreSQL.MYSQL,MSSQL SERVER, oracle
DBMS-Database-Tables-Data

Types of relationships
1.One to one relationship
2.One to many
3.Many to many

Datatypes in sql-variuos forms/nature that exist in a database.
Examples:char,Varchar,interger,float,date:written in capital letters
Strings are enlosed in single quotation  marks

Common sql keywords
!.SHOW
2.USE
3.SELECT COLUMNS OR MORE COLUMNS OR TABLES
3.* MEANS EVERYTHING
4.LIMIT -FOR SELECTING SPECIFIC NO OF ROWS 
5.AS
6.WHERE
7.ORDER BY-DESC AND ASC FOR ORDER
8.GROUP BY
9.INSERT INTO

Aggregate functions - perform calculations on a multiple rows and return a single values.
Examples:COUNT(),SUM(),AVG(),MAX(),

Joins and types

Operators in sql
1.Arithmetic operators
2.Comparison operators
3.Logical operators
4.
5.
= equals to  in sql